html {

    align-items: center;
    justify-content: center;
    background-image: url(burger-background.jpg);
    background-color: #464646;
    background-attachment: fixed;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    color: saddlebrown;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3vw;
}

.header {
    padding: 10px;
    text-align: center;
    background: blanchedalmond;
    color: saddlebrown;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3vw;
  }

td {
    padding: 10px;
}

#content {
    padding-left: 10%;
    font-family: Helvetica, Arial, sans-serif;
    color: sandybrown;
    display: inline;
}

#login_form {
    padding-left: 10%;
    text-align: left;
    float: left;
}

#order_form {
    text-align: left;
    float: left;
}

.order {
    visibility: hidden;
}

.error {
    color: darkred;
}

input {
    height: 20px;
}

button {
    height: 10%;
    width: 50%;
    color: sandybrown;
}

#total {
    color: green;
}

