@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

html {

    align-items: center;
    justify-content: center;

    background-image: url(burger-background.jpg);
    background-color: #464646;
    background-attachment: fixed;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 2vw;
}

h3 {
    text-align: center;
    font-size: 1.3vw;
}

.header {
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    color:  #F04020;
}

td {
    padding: 10px;
}

#content {
    padding-left: 5%;
    padding-top: 5%;
    color: sandybrown;
    font-size: 1.1vw;
    font-family: 'Quicksand', sans-serif;
}

#login_form {
    padding-left: 5%;
    text-align: left;
    float: left;
}

#order_form {
    text-align: left;
    float: left;
}

.order {
    visibility: hidden;
}

.error {
    color: darkred;
}

input, select, option {
    height: 25px;
    border-top:none;
    border-left: none;
    border-right: none;
    background: none;
    color: blanchedalmond;
    font-size: 1.1vw;
    font-family: 'Quicksand', sans-serif;
    height: 1%;

}

button {
    height: 10%;
    width: 50%;
    color: sandybrown;
}

#total {
    color: #8baa1f;
}

