html {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}
  
h1 {
    color: saddlebrown;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 3vw;
}

div {
    padding: 10%;
}

#content {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: sandybrown;
}

#order_form {
    text-align: left;
}

input {
    height: 20px;
}

button {
    height: 10%;
    width: 50%;
    color: sandybrown;
}
